# hugo-guyheckman_me .gitignore file
#

## Hugo Project Patterns
ansible_home/


## Application Patterns
*.cache
output/*


## npm Patterns
node_modules/
package*.json


## General Blob Patterns
*.bz2
*.gz
*.gzip
*.rar
*.tgz
*.tar
*.zip


## Linux Patterns
.directory
.env


### Vim
*~
*.swp
*.swo


## OSX Patterns
.DS_Store
packages
Play.Tests/IntegrationTestUrl.cs


## Sublime Text Patterns
*.sublime-project
*.sublime-workspace


## VS Code Patterns
*.code-workspace


## Windows Patterns

### Windows image file caches
Thumbs.db

### Folder config file
Desktop.ini

